services:

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    restart: unless-stopped
    ports:
      - 9000:9000
      - 9001:9001
    env_file:
      - .env
    volumes:
      - minio_data:/data
    networks:
      - app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 5s
      timeout: 3s
      retries: 10      
    command: server /data --console-address ":9001"    

  ollama:
    image: ollama/ollama:0.12.9
    container_name: ollama
    restart: unless-stopped
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "-v"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia
  
  model-downloader:
    build:
      context: ./model_downloader
    container_name: model-downloader
    # restart: "no"
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - MODEL=mxbai-embed-large:335m
    networks:
      - app
    
  rabbitmq:
    build:
      context: ./rabbitmq
    container_name: rabbitmq
    hostname: rabbitmq
    environment:
      - RABBITMQ_NODENAME=rabbit@rabbitmq
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10      
    env_file:
      - .env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app
    
  openwebui:
    image: ghcr.io/open-webui/open-webui:v0.6.15
    container_name: openwebui
    restart: unless-stopped
    ports:
      - 3000:8080
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - openwebui_data:/app/backend/data
    networks:
      - app

  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.33.4
    container_name: weaviate
    ports:
      - 8080:8080
      - 50051:50051
    volumes:
      - weaviate_data:/var/lib/weaviate
    restart: on-failure:0
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8080'
      - --scheme
      - http
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      CLUSTER_HOSTNAME: 'node1'
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'false'
      AUTHENTICATION_APIKEY_ENABLED: 'true'
      AUTHENTICATION_APIKEY_ALLOWED_KEYS: 'user-a-key,user-b-key'
      AUTHENTICATION_APIKEY_USERS: 'user-a,user-b'
      AUTHORIZATION_ENABLE_RBAC: 'true'
      AUTHORIZATION_RBAC_ROOT_USERS: 'user-a'
    networks:
      - app

  pdf_reader:
    build:
      context: ./pdf_reader
    restart: unless-stopped
    container_name: pdf_reader
    env_file:
      - .env
    depends_on:
      minio:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - app     

  text_chunker:
    build:
      context: ./text_chunker
    restart: unless-stopped
    container_name: text_chunker
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy      
    networks:
      - app

  embedder:
    build:
      context: ./embedder
    restart: unless-stopped
    container_name: embedder
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      ollama:
        condition: service_healthy   
    networks:
      - app

volumes:
  minio_data:
  rabbitmq_data:
  weaviate_data:
  ollama_data:
  openwebui_data:

networks:
  app:
    driver: bridge