name: Embedder CI

on:
  pull_request:
    branches:
      - "*"
    
jobs:
  build-embedder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./embedder
          file: ./embedder/Dockerfile
          push: true
          tags: |
            agelosnm/ragflow:embedder
            agelosnm/ragflow:embedder:0.${{ github.run_number }}