name: Embedder CI

on:
  pull_request:
    branches:
      - "*"
    
jobs:
  build-embedder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./embedder
          file: ./embedder/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ github.repository }}-embedder:latest
            ghcr.io/${{ github.repository_owner }}/${{ github.repository }}-embedder:0.${{ github.run_number }}